.sidebar ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  // list-style: none;
}

.sidebar ul li a:hover {
  background-color: #f0f0f0;
  color: #333;
}

.sidebar ul li a i {
  margin-right: 10px;
}
